@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.show-cart-animation {
  animation: slideDown 0.5s ease-in-out forwards;
}